@media screen and (max-width: 800px) {
    body {
        background: fixed;
    }
}
body {
    background: 
    radial-gradient(circle, transparent 40%, var(--color-v) 75%),
    linear-gradient(to right, var(--color), var(--color)),
    var(--image);
  background-position: center;
  background-size: cover;
  background-blend-mode: 
    var(--blend-top, normal),
    var(--blend-bottom, saturation),
    normal;
  
  --image: url(./gif/memorie.gif);
  --color-v: rgba(0, 0, 0, 0.863);
  --color: rgba(128, 128, 128, 0.158);
}
.body {
    background-repeat: no-repeat;
    filter: contrast(1.23);
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    width: 100%;
    background-size: cover;
    margin: 0px;
    background-blend-mode: saturation;
}
.content {
    display: flex;
    justify-content: start;
    width: 100%;
    flex-direction: column;
    height: 100%;
}
#rodrigo {
    font-family: 'Anek Devanagari', sans-serif;
    color: white;
    text-align: center;
    display: inline-block;
    position: relative;
    margin: 0px;
    font-size: 20px;
    top:485px;
    left: 100px;
    max-width: 20%;
}
#anderson {
    font-family: 'Anek Devanagari', sans-serif;
    color: white;
    text-align: center;
    display: inline-block;
    position: relative;
    margin: 0px;
    font-size: 20px;
    top: 450px;
    right: -900px;
    max-width: 30%;
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    white-space: nowrap;
}
.voltar {
    font-family: 'Press Start 2P', cursive;
    background-image: url(./gif/fogo.gif);
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    color: black;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    cursor: pointer;
    border: none;
    white-space: nowrap;
    padding-top: 17px;
    text-shadow: -0.08em 0.15em rgba(150, 150, 150, 0.7);
    background-position-y: -30px;
    background-position-x: 20px;
    background-size: 45px;
    font-size: 20px;
    top: 550px;
    right: 500px;
    width: 20%;
    margin: 20px;
    padding-bottom: 4px;
    font-weight: 550;
    filter: drop-shadow(-6px 10px 7px #000000);
}
a:link, a:visited {
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
button {
    white-space: nowrap;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition-property: width;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
}
button:hover {
    white-space: nowrap;
    position: relative;
    display: inline-block;
    width: 25%;
    height: 50%;
}