@media screen and (max-width: 800px) {
    body {
        background: fixed;
    }
}
body {
    background: 
    radial-gradient(circle, transparent 40%, var(--color-v) 75%),
    linear-gradient(to right, var(--color), var(--color)),
    var(--image);
  background-position: center;
  background-size: cover;
  background-blend-mode: 
    var(--blend-top, normal),
    var(--blend-bottom, saturation),
    normal;
  
  --image: url(./gif/memorie.gif);
  --color-v: rgba(0, 0, 0, 0.863);
  --color: rgba(128, 128, 128, 0.158);
}
.body {
    background-repeat: no-repeat;
    filter: contrast(1.23);
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    width: 100%;
    background-size: cover;
    margin: 0px;
    background-blend-mode: saturation;
}
#menuAudio {
    display: inline-block;
    position: relative;
    object-fit: contain;
    width: 250px;
    top: 570px;
    left: 40px;
}
.content {
    display: flex;
    white-space: nowrap;
    justify-content: start;
    width: 100%;
    flex-direction: column;
    height: 100%;
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    white-space: nowrap;
}
#title {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    cursor: default;
    position: relative;
    display: inline-block;
    color: rgb(165, 41, 41);
    margin: 0px;
    font-size: 75px;
    top: 100px;
    width: 100%;
    text-shadow: 3px 6px #1f1f1f;
    filter: drop-shadow(-6px 12 px 7px #000000);
}
.menu {
    font-family: 'Press Start 2P', cursive;
    background-image: url(./gif/fogo.gif);
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    color: black;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    cursor: pointer;
    border: none;
    white-space: nowrap;
    filter: drop-shadow(-6px 8px 5px #000000);
    padding-top: 17px;
    text-shadow: -0.08em 0.15em rgba(150, 150, 150, 0.7);
    background-position-y: -38px;
    background-position-x: -10px;
    background-size: 45px;
    font-size: 20px;
    top: 220px;
    width: 20%;
    font-weight: 550;
    padding-bottom: 5px;
}
a:link, a:visited {
    color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
button {
    white-space: nowrap;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition-property: width;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
}
button:hover {
    white-space: nowrap;
    position: relative;
    display: inline-block;
    width: 25%;
    height: 50%;
}